body {
    background-color: black;
    text-align: center;
    align-content: center;
    font-family: "Trebuchet MS", "Segoe UI", sans-serif
}

footer {
    position: fixed;
    bottom: 4pt;
    right: 4pt;
    font-size: 12pt;
    color: rgb(225, 225, 225);
    z-index: 10000;
    cursor: default
}

.u {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

@keyframes fadein {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fadeout {
    from { opacity: 1 }
    to { opacity: 0 }
}
